h1{
    font-size: 40px;
}


}
.alert{
    background: blue;
    color: #fff;
    border-radius:10px;
}

header{
    width: 100%;
    height: 15%;
    background: green;
    background-size: cover;
}

.logo{
    font-size: 35px;
    padding: 10px;
}


.hero-section {
    background: url(hero-bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

.hero-section:before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1 {
    font-size: 1.5em;
}

.hero-section h2 {
    font-size: 1.2em;
}

.header{
    background-color:#1b3039;
    display:flex;
  
    align-items:center;
    height: 85px;
  
}



@font-face{
        font-family: Cinzel;
        src:url(font/Cinzel.ttf);
        font-weight:bold;
        font-style:bold;
}

@font-face{
        font-family: Neuton;
        src:url(font/Neuton-Light.ttf);
        font-weight:bold;
        font-style:bold;
}

h2{
        font-family: Cinzel;
        font-weight:;
}


p{
        font-family: Neuton;
        font-weight:;
}

body   {
        
       
}

footer .titulo{
         font-family: Neuton;
       src:url(font/Neuton-Light.ttf);
        font-weight:bold;
        font-style:bold;
       
}


.color2 {
        background: gray;
        color: ;
}


.pie-pagina {
    width:100%;
    background-color:#0a141d;
        
}
.adicional {
    width:100%;
    background-color:darkred;
    }

.footer1{
    background: #000;
    width:100%;
    color:#fff;
}
.footer-fila1{
    background: #0000;
}

.bg-redark{
    background-color: #161616;
        align-items: center;
        color: #fff;
        padding: 20px;
}

a{
    text-decoration: none;
    font-size: 17pz;
    color: whitesmoke;
    transition-duration: 0.3s;
    opacity: .9;
}
p{
    font-size: 17px;
}
a:hover{
    color:white;
    transition-duration: 0.3s;
    opacity: 1.0;
    
}
i{
    font-size: 25 px ;
}

.galeria{
    font-family: Neuton;
        font-weight:bold;
        font-style:bold;
        border: none;
}
.galeria h1{
    
    font-weight: 300;
}
.contenedor-imagenes{
    
    width:100%;
    
}
.contenedor-imagenes .imagen{
   
    position: relative;

}
.imagen img{
    width:100%;
    height: 100%;
}



.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.781) ;
    transition: .2s ease;
    overflow: hidden;

}
.overlay h2{
    color:#fff;
    font-size: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
   
}
.imagen:hover .overlay{
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.text1 h5{
       font-family: Neuton;
       src:url(font/Neuton-Light.ttf);
        font-weight:bold;
        font-style:bold;
        font-size:30px;
}
.text-uppercase{
       font-family: Neuton;
       src:url(font/Neuton-Light.ttf);
        font-weight:bold;
        font-style:bold;
        font-size:30px;
        align-items: center;
}
.text5 p{
        font-family: Neuton;
       src:url(font/Neuton-Light.ttf);
        font-weight:bold;
        font-style:bold;
        font-size:25px;
        align-items: center;
}
.text5 .titular{
        font-family: Neuton;
       src:url(font/Neuton-Light.ttf);
        font-weight:bold;
        font-style:bold;
        font-size:30px;
        align-items: center;
}
.text5 .titular2{
        font-family: Neuton;
       src:url(font/Neuton-Light.ttf);
        font-weight:bold;
        font-style:bold;
        font-size:25px;
}
.columna3 a{
    font-size:25px;
}
.row1{
    font-family: Neuton;
       src:url(font/Neuton-Light.ttf);
        font-weight:bold;
        font-style:bold;
        font-size:25px;
}
.columna3 .imgn{
    max-width:20px;
    height: 20px;
}
.bg-redark1{
    background-color: #ECDBB2;
    font-size: 100%;
    color:#fff;
}
.columna5 img{
    width:170px;
}

.uno rect{
    transition: 1.0s ease;
    stroke:#8B0000;
    stroke-width:10px;
}

.uno rect:hover{
    stroke-width:35px;
    stroke:#8B0000;
    transition: 0.9s ease;
}

.dos rect{
    transition: 1.0s ease;
    stroke:#FFA500;
    stroke-width:10px;
}

.dos rect:hover{
    stroke-width:35px;
    stroke:#FFA500;
    transition: 0.9s ease;
}
.tres rect{
    transition: 1.0s ease;
    stroke:#ADFF2F;
    stroke-width:10px;
}
.tres path{
    transition: 1.0s ease;
    stroke:#ADFF2F;
    stroke-width:10px;
}
.tres rect:hover{
    stroke-width:35px;
    stroke:#ADFF2F;
    transition: 0.9s ease;
}
.tres path:hover{
    stroke-width:35px;
    stroke:#ADFF2F;
    transition: 0.9s ease;
}
.cuatro rect{
    transition: 1.0s ease;
    stroke-width:10px;
    stroke:#20B2AA;
}
.cuatro rect:hover{
    stroke-width:35px;
    stroke:#20B2AA;
    transition: 0.9s ease;
}
.TORNILLOSMAD circle{
    transition: 1.0s ease;
    stroke-width:15px;
    stroke:#20B2AA;
}
.TORNILLOSMAD circle:hover{
    stroke-width:35px;
    stroke:#20B2AA;
    transition: 0.9s ease;
}
.TORNILLOSMET1 circle{
    transition: 1.0s ease;
    stroke-width:10px;
    stroke:#F4A460;
}
.TORNILLOSMET1 circle:hover{
    stroke-width:35px;
    stroke:#F4A460;
    transition: 0.9s ease;
}
.TORNILLOSMET2 circle{
    transition: 1.0s ease;
     stroke-width:10px;
    stroke:#B8860B;
}
.TORNILLOSMET2 circle:hover{
    stroke-width:35px;
    stroke:#B8860B;
    transition: 0.9s ease;
}

.fila1 div{
    display:none;
}
.fila1 > .mapa{
    display:block;
}

.footer1{
        background: #000;

    }

footer{
    background: #000;
}

.columna3 li{
    padding: 10px;
}

.text5{
    font-size: 50px;
}
--------------------------------------
svg {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}

.state {
  fill: #B7B7B7 !important;
}

.state:hover {
  fill: #CC0033 !important;
  cursor: pointer;
}

  path {
    transition: fill .25s ease-in-out;
  }

.modal {
  text-align: center;
}

.btn {
  background-color: #CC0033;
  color: white;
}

.btn:hover {
  background-color: black;
  color: white !important;
}

.hq {
  color: #CC0033;
}
